.card {
  display: flex;
  flex-direction: column;
}

.card.md {
  grid-row: 1 / 2 span;
  grid-column: 1 / 2 span;
}

.md img {
  width: 64.8rem;
  height: 51rem;
  margin-bottom: 5.4rem;
}

.md .date {
  margin-bottom: 2.8rem;
}

.md .title {
  width: 60.7rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 4.6rem;
}

.sm img {
  width: 31.2rem;
  height: 18.9rem;
  margin-bottom: 3rem;
}

.sm .date {
  margin-bottom: 2rem;
}

.sm .title {
  width: 28.1rem;
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 3.4rem;
}

.card .date {
  color: #57b8ff;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.8rem;
}

.card .title {
  color: #fff;
  font-style: normal;
  text-transform: capitalize;
}
